@tailwind base;
@tailwind components;

.section-default {
  @apply mx-auto min-h-screen flex justify-center items-center px-16;
}

.section-title {
  @apply text-5xl font-bold text-center mb-12  tracking-wide;
}

.project-image {
  @apply transform duration-500 ease-in-out h-full overflow-hidden max-w-16;
}

.project-image:hover {
  @apply z-50;
}

@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/Futura-Medium.eot");
  src: url("/fonts/Futura/Futura-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Futura/Futura-Medium.woff2") format("woff2"),
    url("/fonts/Futura/Futura-Medium.woff") format("woff"),
    url("/fonts/Futura/Futura-Medium.ttf") format("truetype"),
    url("/fonts/Futura/Futura-Medium.svg#Futura-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/Futura-Heavy.eot");
  src: url("/fonts/Futura/Futura-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Futura/Futura-Heavy.woff2") format("woff2"),
    url("/fonts/Futura/Futura-Heavy.woff") format("woff"),
    url("/fonts/Futura/Futura-Heavy.ttf") format("truetype"),
    url("/fonts/Futura/Futura-Heavy.svg#Futura-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: Futura, sans-serif;
  scroll-behavior: smooth;
}

.projectCover {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.projectCover:hover {
  opacity: 1;
}
