@tailwind base;
@tailwind components;

.section-default {
  @apply mx-auto min-h-screen flex justify-center items-center px-4;
}

.section-title {
  @apply text-5xl font-bold text-center mb-12;
}

.project-image {
  @apply transform duration-500 ease-in-out h-full overflow-hidden max-w-16;
}

.project-image:hover {
  @apply z-50;
}

@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/Futura-Medium.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/Futura-Heavy.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  font-family: Futura, sans-serif;
  scroll-behavior: smooth;
}

.projectCover {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.projectCover:hover {
  opacity: 1;
}
